@model SoezWork_Buivanchat_18607075.Models.Branch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDviqly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDviqly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDebitAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDebitAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CooperationDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CooperationDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notdisplaysizecolor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notdisplaysizecolor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MA_DVIQLY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_DVIQLY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDisplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDisplay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BranchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
