@model SoezWork_Buivanchat_18607075.Models.PositionUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PositionUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PositionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
